# ===== Gradle =====
.gradle/
build/
**/build/

# ===== Local config =====
local.properties

# ===== Android Studio / IntelliJ =====
.idea/
*.iml
*.iws
*.ipr
/out/

# ===== Logs =====
*.log

# ===== OS =====
.DS_Store
Thumbs.db

# ===== APK / AAB =====
*.apk
*.aab

# ===== Keystore (IMPORTANT) =====
*.jks
*.keystore

# ===== Caches =====
.cxx/
.externalNativeBuild/

# ===== Firebase / Crashlytics =====
google-services.json
fabric.properties

# ===== NDK =====
obj/
